{% extends "app1/base.html" %}
{% block content %}
{%for pst in post%}
<article class="media content-section">
	<img class="rounded-circle article-img" src="{{pst.author.profile.image.url}}">
	<div class="media-body">
		<div class="article-metadata">
			<a class="mr-2" href="#">{{pst.author}}</a>
			<small class="text-muted">{{pst.date_time}}</small>
		</div>
		<h2><a class="article-title" href="{%url 'post-detail' pst.id %}">{{pst.title}}</a></h2>
		<p class="article-content">{{pst.content}}</p>
	</div>
</article>
{%endfor%}
{% endblock %}